<%- include("./partials/header")%>

<br>

    <div class="main-container container" id="main-container">   
      <!-- Content -->
      <div class="row">
        <!-- Posts -->
        <div class="col-lg-8 blog__content mb-72">
          <!-- <h1 class="page-title">Search results for: <%= filter.toUpperCase()%></h1> -->
			  <% posts.forEach(function(post){ %>
				  <article class="entry card post-list">
					<div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url(<%=post.image%>)">
					  <a href="/<%= post.category %>/<%= post.slug %>" class="thumb-url"></a>
					  <img src="<%=post.image%>" alt="<%=post.slug%>" class="entry__img d-none">
					  <a href="/category/<%=post.category%>" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner"><%=post.category%></a>
					</div>
					  
					<div class="entry__body post-list__body card__body">
					  <div class="entry__header">
						<h2 class="entry__title">
						  <a href="/<%= post.category %>/<%=post.slug%>"><%=post.title%></a>
						</h2>
						<ul class="entry__meta">
						  <li class="entry__meta-author">
							<span>by</span>
							<a href="/people/<% if (post.authorSlug) { %><%=post.authorSlug%><% } else {%><%=post.author%><%} %>"><%=post.author%></a>
						  </li>
						  <li class="entry__meta-date">
							<%= post.date%>
						  </li>
						</ul>
					  </div>
					  <div class="entry__excerpt">
						<p><%- post.content.replace(/<[^>]+>/g, '').slice(0, 250) %>...</p>
						  <a class="read-more-button" href="/<%= post.category %>/<%= post.slug %>">Read More...</a>
					  </div>
					</div>
				  </article>
			  <% }) %>
			
			<% if (pages && pages >1){ %>
			
          <!-- Pagination -->
          <nav class="pagination">
			  <%if (current != 1) {%>
			<a href="<%=path%>?page=<%= Number(current) - 1 %>" class="pagination__page"><i class="ui-arrow-left"></i></a>
			  <%} %>
				<% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
				<% if (i !== 1) { %>
				<span class="pagination__page pagination__page--current">...</span>
				<% } %>
				<% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
				<% if (i == current) { %>
				<span class="pagination__page pagination__page--current"><%= i %></span>
				<% } else { %>
				<a class="pagination__page" href="<%=path%>?page=<%= i %>"><%= i %></a>
				<% } %>
				<% if (i == Number(current) + 2 && i < pages) { %>
				<span class="pagination__page pagination__page--current">...</span>
				<% } %>
				<% } %>
			  <% if (current != pages) {%>
            <a href="<%=path%>?page=<%= Number(current) + 1 %>" class="pagination__page pagination__icon pagination__page--next"><i class="ui-arrow-right"></i></a>
			  <% } %>
          </nav>
			
			<% } %>
        </div> <!-- end posts -->
		  
      </div> <!-- end content -->
    </div> <!-- end main container -->

    <footer class="footer footer--dark">
      <div class="container">
        <!-- <div class="footer__widgets">
          <div class="footer__widgets-top">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-4">
                <a href="/">
                  <img src="/img/logo.png" srcset="/img/logo-white.png 1x, /img/logo-2x-white.png 2x" class="logo__img" alt="logo">
                </a>
              </div>

              <div class="col-md-6">              
                <div class="socials socials--large socials--nobase justify-content-md-end">
                  <a href="https://www.facebook.com/thewoodwardjournal" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                  <a href="https://twitter.com/TheWoodwardpost?s=20" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                  <a href="https://www.instagram.com/woodwardjournal/" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end footer widgets -->
      </div> <!-- end container -->

      <div class="footer__bottom footer__bottom--dark">
        <div class="container text-center">
          <ul class="footer__nav-menu footer__nav-menu--1">
            <li><a href="/about">About the Journal</a></li>
            <li><a href="/partner">Partnership and Advertisment</a></li>
            <li><a href="/tag/feature">Features</a></li>
            <li><a href="/submission">Submission</a></li>
            <li><a href="/correction">Request a Correction</a></li>
            <li><a href="/terms">Terms and Conditions</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/licensed-images">Licensed Images</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/public-relations">Public Relations</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/contribute">Additional Links</a></li>
          </ul>
          <p class="copyright">
			  The Woodward Journal is strictly for informational and entertainment purposes. Our website is no way connected or affiliated with any news or media website which is listed as source in the articles. The views and opinions expressed here are in no way representative of any concerned organisation. All images on this website are the property of their respective owners and we do not own any content that is published under the heading of 'News Sources & Associated Press'. | Trademarked and Copyright ©️ <script>var date = new Date; document.write(date.getFullYear())</script> The Woodward Journal | <a href="mailto:support@woodwardjournal.com"> support@woodwardjournal.com</a>
			</p>   
        </div>            
      </div> <!-- end footer bottom -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
      <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

  </main> <!-- end main-wrapper -->

  
  <!-- jQuery Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/easing.min.js"></script>
  <script src="/js/owl-carousel.min.js"></script>
  <script src="/js/flickity.pkgd.min.js"></script>
  <script src="/js/twitterFetcher_min.js"></script>
  <script src="/js/jquery.newsTicker.min.js"></script>  
  <script src="/js/modernizr.min.js"></script>
  <script src="/js/scripts.js"></script>

</body>
</html>