<%- include("./partials/header")%>

<% 
	
	var adminList = [];
	posts.forEach(function(post){
		if (post.status == "draft" || post.status == "finalDraft"){
			adminList.push(post);	
		};
	});

	var editorList = [];
	posts.forEach(function(post){
		if (post.status == "draft"){
			editorList.push(post);	
		};
	});

%>

<br>

    <div class="main-container container" id="main-container">   
      <!-- Content -->
      <div class="row">
        <!-- Posts -->
        <div class="col-lg-8 blog__content mb-72">
			<% if (user.username == "admin") {%>
				<% adminList.forEach(function(post){ %>
					  <article class="entry card post-list">
						<div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url(<%=post.image%>)">
						  <a href="/<%= post.category %>/<%= post.slug %>" class="thumb-url"></a>
						  <img src="<%=post.image%>" alt="<%=post.slug%>" class="entry__img d-none">
						  <a href="/<%= post.slug %>/edit" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner">Edit Post</a>
						</div>

						<div class="entry__body post-list__body card__body">
						  <div class="entry__header">
							<h2 class="entry__title">
							  <a href="/<%= post.category %>/<%=post.slug%>"><%=post.category.toUpperCase()%> <br> <%=post.title%></a>
							</h2>
							<ul class="entry__meta">
							  <li class="entry__meta-author">
								<span>by</span>
								<a href="/people/<% if (post.authorSlug) { %><%=post.authorSlug%><% } else {%><%=post.author%><%} %>"><%=post.author%></a>
							  </li>
							  <li class="entry__meta-date">
								<%= post.date%>
							  </li>
							</ul>
						  </div>
						  <div class="entry__excerpt">
							<p><%- post.content.replace(/<[^>]+>/g, '').slice(0, 250) %>...</p>
							<a class="read-more-button" href="/<%= post.category %>/<%= post.slug %>">Read More...</a>
							<form action="/<%=post.slug%>?_method=DELETE" method="post">
								<button class="btn mt-2">Delete The Post</button>
							</form>
						  </div>
						</div>
					  </article>
				<% }) %>
			<% } else if (user.username == "editor") {%>
				<% editorList.forEach(function(post){ %>
					  <article class="entry card post-list">
						<div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url(<%=post.image%>)">
						  <a href="/<%= post.category %>/<%= post.slug %>" class="thumb-url"></a>
						  <img src="<%=post.image%>" alt="<%=post.slug%>" class="entry__img d-none">
						  <a href="/<%= post.slug %>/edit" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner">Edit Post</a>
						</div>

						<div class="entry__body post-list__body card__body">
						  <div class="entry__header">
							<h2 class="entry__title">
							  <a href="/<%= post.category %>/<%=post.slug%>"><%=post.category.toUpperCase()%> <br> <%=post.title%></a>
							</h2>
							<ul class="entry__meta">
							  <li class="entry__meta-author">
								<span>by</span>
								<a href="/people/<% if (post.authorSlug) { %><%=post.authorSlug%><% } else {%><%=post.author%><%} %>"><%=post.author%></a>
							  </li>
							  <li class="entry__meta-date">
								<%= post.date%>
							  </li>
							</ul>
						  </div>
						  <div class="entry__excerpt">
							<p><%- post.content.replace(/<[^>]+>/g, '').slice(0, 250) %>...</p>
							  <a class="read-more-button" href="/<%= post.category %>/<%= post.slug %>">Read More...</a>
						  </div>
						</div>
					  </article>
				<% }) %>
			<% } %>
			
        </div> <!-- end posts -->
		  
      </div> <!-- end content -->
    </div> <!-- end main container -->

<%- include("./partials/footer")%>